
<div class="row">
  <div class="small-12 columns">
     <%= simple_form_for(@harvesting_record) do |f| %>
      <% if @harvesting_record.errors.any? %>
        <div class="div.alert-box.alert.round" id="error_explanation">
          <h2><%= pluralize(@harvesting_record.errors.count, "error") %> prohibited this Harvestfrom being saved:</h2>
          <ul>
      <% @harvesting_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
        </div>
      <% end %>
     <% if @selectedActivePlantID %>
        <%= f.input :active_plant_id, collection: ActivePlant.includes(:plant).order("plants.plant_type ASC").all, selected: @selectedActivePlantID, label_method: lambda { |ap| "#{ap.plant.plant_type}: #{ap.plant.name} | #{ap.location.name}" }, prompt: "Choose wisely!" %>
     <% else %>
        <%= f.input :active_plant_id, collection: ActivePlant.includes(:plant).order("plants.plant_type ASC").all, label_method: lambda { |ap| "#{ap.plant.plant_type}: #{ap.plant.name} | #{ap.location.name}" }, prompt: "Choose wisely" %>
     <% end %>
     <%= f.input :date_harvested %>
     <%= f.input :count_harvested %>
     <%= f.input :weight_type_id, collection: WeightType.all, label_method: lambda { |w| "#{w.name}" } %>
     <%= f.button :submit %>

   <% end %>
   </div>
</div>
