<% if !@harvesting_records.nil? && !@harvesting_records.empty? %>
   <h3 align=<%="#{align_direction}"%>>Linked Harvests</h3>
   <table align=<%="#{align_direction}"%>
      <thead>
         <tr>
            <th>Date</th>
            <th>Harvested</th>
            <th> </th>
         </tr>
      </thead>
      <tbody>
         <% total_pounds = 0 %>
         <% total_count = 0 %>
         <% @harvesting_records.each do |harvesting_record|  %>
            <% if harvesting_record.weight_type.name.to_s == "Ounces" 
               total_pounds += (harvesting_record.count_harvested / 16)
            elsif harvesting_record.weight_type.name.to_s == "Pounds"
               total_pounds += harvesting_record.count_harvested 
            elsif harvesting_record.weight_type.name.to_s == "Count"
               total_count += harvesting_record.count_harvested 
            end %>
            <tr>
               <% if show_all_harvests || harvesting_record.id != @harvesting_record.id %>
               <td><%= harvesting_record.date_harvested %></td>
               <td><%= harvesting_record.count_harvested %> <%= harvesting_record.weight_type.name %></td>
               <td><%= link_to raw('<i class="fi-eye"></i>'), harvesting_record %> | <%= link_to raw('<i class="fi-pencil"></i>'), edit_harvesting_record_path(harvesting_record) %> | <%= link_to raw('<i class="fi-trash"></i>'), harvesting_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
         </tr>
         <% end %>
         <tr>
            <td></td>
            <th>Total Count</th>
            <td><%= total_count %> </td>
         </tr>
         <tr>
            <td></td>
            <th>Total Pounds</th>
            <td><%= total_pounds.round(2) %> </td>
         </tr>
      </tbody>
   </table>
<% end %>