<div class="row">
  <div class="small-12 columns">
      <h1>Listing Harvesting Records</h1>

      <table>
        <thead>
          <tr>
             <td>Plant</td>
             <td>Location</td>
             <td>Date</td>
             <td>Harvested</td>
             <td> </td>
          </tr>
        </thead>

        <tbody>
          <% @harvesting_records.each do |harvesting_record| %>
            <tr>
               <% if harvesting_record.active_plant_id %>
                  <td><%= harvesting_record.active_plant.plant.name %></td>
                  <td><%= harvesting_record.active_plant.location.name %></td>
                  <td><%= harvesting_record.date_harvested %></td>
                  <td><%= harvesting_record.count_harvested %> <%= harvesting_record.weight_type.name %></td>

                 <td><%= link_to 'Show', harvesting_record %> | <%= link_to 'Edit', edit_harvesting_record_path(harvesting_record) %> | <%= link_to 'Destroy', harvesting_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Harvesting record', new_harvesting_record_path %>
   </div>
</div>