<div class="row">
   <p id="notice"><%= notice %></p>
      <div class="small-12 columns">
      <%= @harvesting_record.date_harvested %>
   </div>
   <div class="small-12 columns">
      <%= "#{@harvesting_record.active_plant.plant.name} #{@harvesting_record.active_plant.plant.plant_type} (AP_id: #{@harvesting_record.active_plant_id})"%>
   </div>
      <div class="small-12 columns">
      <%= @harvesting_record.active_plant.location.name %>
   </div>

   <div class="small-12 columns">
      <%= @harvesting_record.count_harvested %> <%= @harvesting_record.weight_type.name %>
   </div>

</div>
   <div class="row">
      <div class="small-4 columns">
         <%= link_to 'All Harvesting Records', harvesting_records_path, { :class=>"button small" }  %>
      </div>
      <div class="small-4 columns">
         <p class="text-center"><%= link_to 'Edit', edit_harvesting_record_path(@harvesting_record), { :class=>"button small round alert" } %> </p>
      </div>
      <div class="small-4 columns">
         <p class="text-right"><%= link_to 'New Harvesting Record', new_harvesting_record_path, { :class=>"button small round" } %></p>
      </div>
   </div>
<h3 align="center">Linked Harvests</h3>
<%= render 'past_harvests' %>
      