<div class="row">
   <p id="notice"><%= notice %></p>
   <div class="small-12 columns">
      <%= @harvesting_record.active_plant.plant.name %>
   </div>
      <div class="small-12 columns">
      <%= @harvesting_record.active_plant.location.name %>
   </div>
   <div class="small-12 columns">
      <%= @harvesting_record.date_harvested %>
   </div>
   <div class="small-12 columns">
      <%= @harvesting_record.count_harvested %>
   </div>

</div>
   <div class="row">
      <div class="small-4 columns">
         <%= link_to 'All Harvesting Records', harvesting_records_path %>
      </div>
      <div class="small-4 columns">
         <p class="text-center"><%= link_to 'Edit', edit_harvesting_record_path(@harvesting_record) %> </p>
      </div>
      <div class="small-4 columns">
         <p class="text-right"><%= link_to 'New Harvesting Record', new_harvesting_record_path %></p>
      </div>
   </div>
      