<div class="row">
   This is an Update form 
   <div class="small-12 columns">
      <%= simple_form_for(@active_plant) do |f| %>
      <% if @active_plant.errors.any? %>
         <div class="div.alert-box.alert.round" id="error_explanation">
            <h2><%= pluralize(@active_plant.errors.count, "error") %> prohibited this active plant from being saved:</h2>
            <ul>
               <% @active_plant.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
               <% end %>
            </ul>
         </div>
      <% end %>
      <div class="small-12 columns">
         <div class="small-6 columns">
            <h5><%= @active_plant.plant.name %> in <%= @active_plant.location.name %></h5>
         </div>
         <div class="small-6 columns">
            <h5>Current status: <%= @active_plant.plant_status.name %></h5>
         </div>
      </div>
      <div class="small-12 columns">
         <%= f.input :location_id, collection: Location.all, label: "Change Location..." %>
      </div>
      <div class="small-12 columns">
         <%= f.input :plant_status_id, collection: PlantStatus.all, label: "Change Status..." %>
      </div>
      <div class="small-12 columns">
         <%= f.input :count_active %><br>
      </div>
      <div class="small-6 columns">
        <div class="small-12 columns">
           <%= f.input :nutrients_added, as: :boolean %><br>
        </div>
     </div>
     <div class="small-6 columns">
        Date of action:
        <%= date_select('range', 'start_date', :order => [:month, :day, :year])%>
     </div>
     <%= f.input :comment %><br>
     <%= f.button :submit %>
    <% end %>
  </div>
</div>

