<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for(@active_plant) do |f| %>
      <% if @active_plant.errors.any? %>
        <div class="div.alert-box.alert.round" id="error_explanation">
          <h2><%= pluralize(@active_plant.errors.count, "error") %> prohibited this active plant from being saved:</h2>
          <ul>
      <% @active_plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
        </div>
      <% end %>
     <%= f.input :plant_id, collection: Plant.order('plant_type ASC, name ASC').all, prompt: "Choose wisely" %>
      <td> Location </td>
      <%= f.collection_select :location_id, Location.order('name ASC').all, :id, :name,   prompt: "Choose wisely", label: "Location" %>
      <%= f.input :plant_status_id, collection: PlantStatus.all, prompt: "Choose wisely" %>
      <%= f.input :count_active %><br>
      <td> Date Planted </td>
      <%= date_select('range', 'start_date', :order => [:month, :day, :year])%>

      <%= f.input :comment %><br>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

