<h1>Listing active_plants</h1>

<table>
  <thead>
    <tr>
      <th>Plant</th>
      <th>Status</th>
      <th>Location</th>
      <th>Count active</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @active_plants.each do |active_plant| %>
      <tr>
         <td><%= active_plant.plant.name %></td>
         <td><%= active_plant.plant_status.name if active_plant.plant_status_id %></td>
         <td><%= active_plant.location.name %></td>
        <td><%= active_plant.count_active %></td>
        <td><%= active_plant.comment %></td>
        <td><%= link_to 'Show', active_plant %></td>
        <td><%= link_to 'Edit', edit_active_plant_path(active_plant) %></td>
        <td><%= link_to 'Destroy', active_plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active plant', new_active_plant_path %>
