<div class="row">
   <div class="small-12 columns">
      <p id="notice"><%= notice %></p>

      <strong>Plant:</strong>
      <%= @active_plant.plant.name %>
   </div>
   <div class="small-12 columns">
      <strong>Status:</strong>
      <%= @active_plant.plant_status.name if @active_plant.plant_status_id%>
   </div>
   <div class="small-12 columns">
      <strong>Location:</strong>
      <%= @active_plant.location.name %>
   </div>
   <div class="small-12 columns">
     <strong>Count active:</strong>
     <%= @active_plant.count_active %>
   </div>
   <div class="small-12 columns">
     <strong>Comment:</strong>
     <%= @active_plant.comment %>
   </div>
   
<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Active Plants', active_plants_path %>
   </div>
   <div class="small-4 columns">
      <p class="text-center"><%= link_to 'Edit', edit_active_plant_path(@active_plant) %> </p>
   </div>
   <div class="small-4 columns">
      <p class="text-right"><%= link_to 'New Active Plant', new_active_plant_path %></p>
   </div>
</div>