<p id="notice"><%= notice %></p>

<p>
  <strong>Plant:</strong>
   <%= @active_plant.plant.name %>
</p>

<p>
  <strong>Status:</strong>
   <%= @active_plant.plant_status.name if @active_plant.plant_status_id%>
</p>

<p>
  <strong>Location:</strong>
   <%= @active_plant.location.name %>
</p>

<p>
  <strong>Count active:</strong>
  <%= @active_plant.count_active %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @active_plant.comment %>
</p>

<%= link_to 'Edit', edit_active_plant_path(@active_plant) %> |
<%= link_to 'Back', active_plants_path %>
