
<div class="row">
   <div class="small-6 columns">
      <h3>Active Plant</h3>
      <p id="notice"><%= notice %></p>
      <table>
         <tr>
            <td><strong>Plant:</strong></td>
            <td><%= @active_plant.plant.name %></td>
         </tr>
         <tr>
            <td><strong>Status:</strong></td>
            <td><%= @active_plant.plant_status.name if @active_plant.plant_status_id%></td>
         </tr>
         <tr>
            <td><strong>Location:</strong></td>
            <td><%= @active_plant.location.name %></td>
         </tr>
         <tr>
            <td><strong>Count active:</strong></td>
            <td><%= @active_plant.count_active %></td>
         </tr>
         <tr>
            <td><strong>Comment:</strong></td>
            <td><%= @active_plant.comment %></td>
         </tr>
         <tr>
            <td><strong>Planted:</strong></td>
            <td><%= link_to @planting.date_planted, planting_path(@planting) %></td>
         </tr>
      </table>
   </div>
   <div class="small-6 columns">
      <%= render partial: '/harvesting_records/past_harvests', :locals => {:align_direction => 'right', :show_all_harvests => true}  %>
   </div>
</div>
   
<div class="row">
   <div class="small-4 columns">
      <%= link_to 'All Active Plants', active_plants_path %>
   </div>
   <div class="small-4 columns">
      <p class="text-center"><%= link_to 'Edit', edit_active_plant_path(@active_plant) %> </p>
   </div>
   <div class="small-4 columns">
      <p class="text-right"><%= link_to 'Harvest', new_harvesting_record_path(@active_plant), { :class=>"button small round alert", :active_plant_id => @active_plant.id} %></p>
   </div>
</div>