<hr>
<div align="center">
   View <%= link_to "Active Plants", active_plants_path %> 

</div>
<div align="center">
   New( <%= link_to "Plant", new_plant_path %> | 
   <%= link_to "Soil", new_soil_path %> | 
   <%= link_to "Location", new_location_path %> )

</div>
<div align="center">
   <%= link_to "Home", root_path %>
</div>
