<h2 align="center"> Base Index Page</h2>

<table align="center">
  <tr> 
    <th><%= link_to "Plants",  plants_path  %></th>
    <th><%= link_to "Location",  locations_path  %></th>
    <th><%= link_to "Soil",  soils_path  %></th>
  </tr> 
  <tr> 
     <th><%= link_to "Plantings",  plantings_path  %></th>
     <th><%= link_to "Active Plants",  active_plants_path  %></th>
    <th>Harvest</th>
  </tr>  
  <tr > 
    <th><%= link_to "Daily",  daily_data_path  %></th>
    <th>View</th>
    <th></th>
  </tr>  
</table>
