<div class="row">
  <div class="small-12 columns">
<%= simple_form_for(@harvest_type) do |f| %>
  <% if @harvest_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@harvest_type.errors.count, "error") %> prohibited this harvest_type from being saved:</h2>

      <ul>
      <% @harvest_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.input :name %>

  <%= f.button :submit %>

<% end %>
   </div>
   </div>