<p id="notice"><%= notice %></p>

<p>
  <strong>Daily date:</strong>
  <%= @daily_datum.daily_date %>
</p>

<p>
  <strong>Temp low:</strong>
  <%= @daily_datum.temp_low %>
</p>

<p>
  <strong>Temp high:</strong>
  <%= @daily_datum.temp_high %>
</p>

<p>
  <strong>Eggs collected:</strong>
  <%= @daily_datum.eggs_collected %>
</p>

<p>
  <strong>Total ducks:</strong>
  <%= @daily_datum.total_ducks %>
</p>

<p>
  <strong>Hours of daylight:</strong>
  <%= @daily_datum.hours_of_daylight %>
</p>

<p>
  <strong>Sunrise:</strong>
  <%= @daily_datum.sunrise %>
</p>

<p>
  <strong>Moon phase:</strong>
  <%= @daily_datum.moon_phase_id %>
</p>

<p>
  <strong>Moon percent:</strong>
  <%= @daily_datum.moon_percent %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @daily_datum.weather %>
</p>

<p>
  <strong>Rained:</strong>
  <%= @daily_datum.rained %>
</p>

<%= link_to 'Edit', edit_daily_datum_path(@daily_datum) %> |
<%= link_to 'Back', daily_data_path %>
