<h1>Listing plant_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plant_statuses.each do |plant_status| %>
      <tr>
        <td><%= plant_status.name %></td>
        <td><%= link_to 'Show', plant_status %></td>
        <td><%= link_to 'Edit', edit_plant_status_path(plant_status) %></td>
        <td><%= link_to 'Destroy', plant_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant status', new_plant_status_path %>
