  <% if @daily_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_record.errors.count, "error") %> prohibited this daily records from being saved:</h2>

      <ul>
      <% @daily_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@daily_record) do |f| %>

  <div class="field">
    <%= f.label :daily_date %><br>
    <%= f.date_select :daily_date %>
  </div>
  <div class="field">
    <%= f.label :temp_low %><br>
    <%= f.number_field :temp_low %>
  </div>
  <div class="field">
    <%= f.label :temp_high %><br>
    <%= f.number_field :temp_high %>
  </div>
  <div class="field">
    <%= f.label :eggs_collected %><br>
    <%= f.number_field :eggs_collected %>
  </div>
  <div class="field">
    <%= f.label :total_ducks %><br>
    <%= f.number_field :total_ducks %>
  </div>
  <div class="field">
    <%= f.label :hours_of_daylight %><br>
    <%= f.time_select :hours_of_daylight %>
  </div>
  <div class="field">
    <%= f.label :sunrise %><br>
    <%= f.time_select :sunrise %>
  </div>
  <div class="field">
    <%= f.label :moon_phase_id %><br>
    <%= f.number_field :moon_phase_id %>
  </div>
  <div class="field">
    <%= f.label :moon_percent %><br>
    <%= f.number_field :moon_percent %>
  </div>
  <div class="field">
    <%= f.label :weather %><br>
    <%= f.text_field :weather %>
  </div>
  <div class="field">
    <%= f.label :rained %><br>
    <%= f.check_box :rained %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
