<div class="row">
   <div  class="small-12">
      <p><%= puts "last daily = #{@last_daily_record.inspect}" %> last</p>

   <% if @daily_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_record.errors.count, "error") %> prohibited this daily records from being saved:</h2>

      <ul>
      <% @daily_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
<%= simple_form_for(@daily_record) do |f| %>
<div  class="small-6 columns">
   <%= f.input :daily_date, as: :date %>
   <%= f.input :temp_high, input_html: { value: '0' } %>
   <%= f.input :temp_low, input_html: { value: '0' } %>
   <%= f.input :eggs_collected, input_html: { value: '0' } %>
   <%= f.input :total_ducks, input_html: { value: @last_daily_record.total_ducks } %>
   <%= f.input :precipitation, label: "precipitation (inches)", :include_blank => false %>

</div>
<div  class="small-6 columns">
   <%= f.input :hours_of_daylight, input_html: { value: @last_daily_record.hours_of_daylight } %>
   <%= f.input :sunrise, input_html: { value: @last_daily_record.sunrise } %>
   <%= f.input :moon_phase_id, collection: MoonPhase.all, :include_blank => false %>
   <%= f.input :moon_percent, input_html: { value: @last_daily_record.moon_percent } %>
   <%= f.input :weather %>
   <%= f.button :submit %>

      </div>
<% end %>
      <div class small-12 columns>
      </div>
      </div>
   </div>
