<div class="row">
  <div class="small-12 columns">
      <h1>Listing daily records</h1>
      <%= link_to 'New Daily data', new_daily_record_path, { :class=>"button small round success" } %>

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Temp low</th>
            <th>Temp high</th>
            <th>Eggs collected</th>
            <th>Total ducks</th>
            <th>Daylight</th>
            <th>Sunrise</th>
            <th>Moon phase</th>
            <th>Moon percent</th>
            <th>Weather</th>
            <th>Precipitation</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @daily_records.each do |daily_record| %>
            <tr>
              <td><%= daily_record.daily_date %></td>
              <td><%= daily_record.temp_low %></td>
              <td><%= daily_record.temp_high %></td>
              <td><%= daily_record.eggs_collected %></td>
               <td><%= daily_record.total_ducks %></td>
               <td><%= Time.parse(daily_record.hours_of_daylight.to_s).to_s(:time) %></td>
              <td><%=  Time.parse(daily_record.sunrise.to_s).to_s(:time) %></td>
               <td><%= daily_record.moon_phase.name %></td>
              <td><%= daily_record.moon_percent %></td>
              <td><%= daily_record.weather %></td>
              <td><%= daily_record.precipitation %></td>
               <td><%= link_to raw('<i class="fi-eye"></i>'), daily_record %></td>
               <td><%= link_to raw('<i class="fi-pencil"></i>'), edit_daily_record_path(daily_record) %></td>
              <td><%= link_to raw('<i class="fi-trash"></i>'), daily_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
     <p>Total Eggs = <%= @total_eggs %></p>
      <%= link_to 'New Daily data', new_daily_record_path, { :class=>"button small round success" } %>

      <%= render 'weather' %>
      <br>
   </div>
</div>
