<p id="notice"><%= notice %></p>

<p>
  <strong>Daily date:</strong>
  <%= @daily_records.daily_date %>
</p>

<p>
  <strong>Temp low:</strong>
  <%= @daily_records.temp_low %>
</p>

<p>
  <strong>Temp high:</strong>
  <%= @daily_records.temp_high %>
</p>

<p>
  <strong>Eggs collected:</strong>
  <%= @daily_records.eggs_collected %>
</p>

<p>
  <strong>Total ducks:</strong>
  <%= @daily_records.total_ducks %>
</p>

<p>
  <strong>Hours of daylight:</strong>
  <%= @daily_records.hours_of_daylight %>
</p>

<p>
  <strong>Sunrise:</strong>
  <%= @daily_records.sunrise %>
</p>

<p>
  <strong>Moon phase:</strong>
  <%= @daily_records.moon_phase_id %>
</p>

<p>
  <strong>Moon percent:</strong>
  <%= @daily_records.moon_percent %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @daily_records.weather %>
</p>

<p>
  <strong>Rained:</strong>
  <%= @daily_records.rained %>
</p>

<%= link_to 'Edit', edit_daily_records_path(@daily_records) %> |
<%= link_to 'Back', daily_data_path %>
