<p id="notice"><%= notice %></p>

<p>
  <strong>Daily date:</strong>
  <%= @daily_record.daily_date %>
</p>

<p>
  <strong>Temp low:</strong>
  <%= @daily_record.temp_low %>
</p>

<p>
  <strong>Temp high:</strong>
  <%= @daily_record.temp_high %>
</p>

<p>
  <strong>Eggs collected:</strong>
  <%= @daily_record.eggs_collected %>
</p>

<p>
  <strong>Total ducks:</strong>
  <%= @daily_record.total_ducks %>
</p>

<p>
  <strong>Hours of daylight:</strong>
  <%= @daily_record.hours_of_daylight %>
</p>

<p>
  <strong>Sunrise:</strong>
  <%= @daily_record.sunrise %>
</p>

<p>
  <strong>Moon phase:</strong>
   <% if @daily_record.moon_phase_id %>
      <%= @daily_record.moon_phase.name %>
   <% end %>
</p>

<p>
  <strong>Moon percent:</strong>
  <%= @daily_record.moon_percent %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @daily_record.weather %>
</p>

<p>
  <strong>Rained:</strong>
   <%= @daily_record.precipitation %>
</p>

<%= link_to 'Edit', edit_daily_record_path(@daily_record) %> |
<%= link_to 'All Records', daily_records_path %>

<%= render 'weather' %>

