<%= form_for(@planting) do |f| %>
  <% if @planting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planting.errors.count, "error") %> prohibited this planting from being saved:</h2>
      <ul>
      <% @planting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active_plant_id %><br>
    <%= f.number_field :active_plant_id %>
  </div>
  <div class="field">
    <%= f.label :plant_status_id %><br>
    <%= f.text_field :plant_status_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :count_planted %><br>
    <%= f.text_field :count_planted %>
  </div>
  <div class="field">
    <%= f.label :date_planted %><br>
    <%= f.date_select :date_planted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
