<h1>Listing plantings</h1>

<table>
  <thead>
    <tr>
      <th>Active plant</th>
      <th>Status</th>
      <th>Location</th>
      <th>Count planted</th>
      <th>Date planted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantings.each do |planting| %>
      <tr>
         <td><%= planting.active_plant.plant.name if planting.active_plant%></td>
         <td><%= planting.plant_status.name if planting.plant_status %></td>
         <td><%= planting.location.name if planting.location %></td>
        <td><%= planting.count_planted %></td>
        <td><%= planting.date_planted %></td>
        <td><%= link_to 'Show', planting %></td>
        <td><%= link_to 'Edit', edit_planting_path(planting) %></td>
        <td><%= link_to 'Destroy', planting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Active Planting', new_active_plant_path %>
