<div class="row">
  <div class="small-12 columns">
      <h1>Listing AP Records</h1>

      <table>
        <thead>
          <tr>
             <td>Plant</td>
             <td>Location</td>
             <td>Date</td>
             <td>Status</td>
             <td>Count Active</td>
             <td>Nutrients Added</td>
             <td>Comment</td>
             <td> </td>
          </tr>
        </thead>

        <tbody>
           <% @active_plant_records.each do |ap_records| %>
            <tr>
               <% if ap_records.active_plant %>
                  <td><%= ap_records.active_plant.plant.name %></td>
                  <td><%= ap_records.active_plant.location.name %></td>
                  <td><%= ap_records.date_processed %></td>
                  <td><%= ap_records.plant_status.name %></td>
                  <td><%= ap_records.count_active %></td>
                  <td><%= ap_records.nutrients_added %></td>
                  <td><%= ap_records.comment %></td>

                 <td><%= link_to 'Show', ap_records %> | <%= link_to 'Edit', edit_active_plant_record_path(ap_records) %> | <%= link_to 'Destroy', ap_records, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

     <div class="row">
         <div class="small-4 columns">
            <%= link_to 'Home', '/' %>
         </div>
         <div class="small-4 columns">

         </div>
         <div class="small-4 columns">
         </div>
      </div>

   </div>
</div>